<!--

<div class="qubit-state-input">
     <div class="state-input-vector-ctnr">
     <input ng-model="qubit[0].real"> <span class="plus">+</span> <input ng-model="qubit[1].imag"> <span class="imag">i</span> <br>
     <input ng-model="qubit[1].real"> <span class="plus">+</span> <input ng-model="qubit[1].imag"> <span class="imag">i</span>
     </div>
</div>
-->


<div class="qubit-state-input">
    (<input ng-model="qubit[0].real"> <span class="plus">+</span> <input ng-model="qubit[1].imag"> <span class="imag">i</span>,
    <input ng-model="qubit[1].real"> <span class="plus">+</span> <input ng-model="qubit[1].imag"> <span class="imag">i</span>)
</div>
